li {
  list-style-type: none;
}
.temp {
  font-size: 59px;
}
.links {
  font-size: 25px;
}
.image {
  display: block;
  margin: 0 auto;
  width: 150px;
}
.container {
  background-color: #fff;
  color: rgb(71, 71, 71);
  width: 520px;
  display: block;
  margin: 0 auto;
  padding: 5px 30px;
  box-shadow: 10px 10px 20px #68badc;
  border-radius: 7px;
  background-color: #68badc;
}
.weather-container {
  width: fit-content;
  display: block;
  margin: 0 auto;
}
.title-city {
  text-align: center;
  font-size: 50px;
}
